
body {
    width: 100%;
    height: 100vh;
    background-image: url("");
    }
    
img {
    width: 500px;
}

#holderGender{
    width: 200px;
}



#selectBoxGender,
#selectBoxRace,
#selectBoxClass {
    margin-left: 50px;
    width: 180px;
}

#below_hr {
    width: 600px;
    background-color: #ffffff;
}

#preBtn {
    margin-left: 170px;
    margin-top: 170px;
}